@import url('https://fonts.googleapis.com/css?family=Raleway|Roboto+Slab');

body {
  margin: 0;
  padding: 0;
  font-family: Raleway;
  background: linear-gradient(to bottom, rgba(160, 206,203, 1) 0%, rgba(125, 177, 177, 1) 100%)
}

h1 {
  font-family: 'Roboto Slab';
  font-size: 48px;
  color: white;
  text-shadow: 3px 3px 3px rgba(0, 0, 0, 0.3);
}

